{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}


    <div class="container">
    <br><br><br><br><br>
        <div class="text">

            <h1>MITAOE...</h1>
            <br><br>
            <p>
                We are Students of 2nd Year MITAOE where we have developed a website i.e a Movie Review System which reviews a movie on the basis of
                sentiments.<br>
                We have used <br/>
                Django(Python) for Back-End <br/>
                Html ,CSS for Front-End<br/>
                PgAdmin4 for Data Storage
            </p>

        </div>
        <div class="img">

        </div>
        <!-- <button class="btn">Read More</button> -->
    </div>

{% endblock %}

